---
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>skmedialab</title>
  <!-- Add the Netlify Identity widget script -->
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>
<body>
  <slot></slot>
  <!-- Initialize the widget -->
  <script>

declare global {
	interface Window {
		netlifyIdentity: string
	}
}

    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.open();
        }
      });
    }
  </script>
</body>
</html>
